# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


behavior/behavior.xcodeproj/xcuserdata
behavior/behavior.xcodeproj/project.xcworkspace/xcuserdata
